In [1]:
import pandas as pd

df = pd.read_csv('../datos/originales/mexico_exportaciones.csv')

print(df.shape)

(578, 24)

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Partida Aduanera              578 non-null    int64
 1   Descripcion Partida Aduanera  578 non-null    object
 2   Aduana                        578 non-null    object
 3   DUA                           578 non-null    object
 4   Fecha                         578 non-null    object
 5   Cod. Tributario               578 non-null    object
 6   Exportador                    578 non-null    object
 7   Ciudad Exportador             307 non-null    object
 8   Dirección Exportador          558 non-null    object
 9   Estado Exportador             268 non-null    object
 10  Importador                    409 non-null    object
 11  Ciudad Importador             115 non-null    object
 12  Dirección Importador          313 non-null    object
 13  Qty 1                         578 non-null    float64
 14  Unid 1                        578 non-null    object
 15  Qty 2                         578 non-null    float64
 16  Unid 2                        578 non-null    object
 17  U$ FOB Tot                    578 non-null    float64
 18  U$ FOB Unit 1                 578 non-null    float64
 19  U$ FOB Unit 2                 578 non-null    float64
 20  País Destino                  578 non-null    object
 21  Vía                           578 non-null    object
 22  Descripción Comercial         578 non-null    object
 23  Regimen                       578 non-null    object
dtypes: float64(5), int64(1), object(18)
memory usage: 108.5+ KB
None

In [3]:
print(df.describe(include='all'))

        Partida Aduanera                       Descripcion Partida Aduanera  \
count       5.780000e+02                                                578
unique               NaN                                                  2
top                  NaN  LOS DEMÁS PEPINOS DE MAR (STICHOPUS JAPONICUS,...
freq                 NaN                                                294
mean        9.456817e+08                                                NaN
std         6.491698e+08                                                NaN
min         3.081999e+08                                                NaN
25%         3.081999e+08                                                NaN
50%         3.081999e+08                                                NaN
75%         1.605610e+09                                                NaN
max         1.605610e+09                                                NaN

               Aduana                             DUA       Fecha  \
count             578                             578         578
unique             11                             449         362
top     TIJUANA- B.C.  20200616-ASF080409277-0011938   16/06/2020
freq              302                               6           8
mean              NaN                             NaN         NaN
std               NaN                             NaN         NaN
min               NaN                             NaN         NaN
25%               NaN                             NaN         NaN
50%               NaN                             NaN         NaN
75%               NaN                             NaN         NaN
max               NaN                             NaN         NaN

        Cod. Tributario                                         Exportador  \
count               578                                                578
unique               78                                                 78
top     PPS1208244S2     SOCIEDAD COOPERATIVA DE PRODUCCION PESQUERA SE...
freq                 48                                                 48
mean                NaN                                                NaN
std                 NaN                                                NaN
min                 NaN                                                NaN
25%                 NaN                                                NaN
50%                 NaN                                                NaN
75%                 NaN                                                NaN
max                 NaN                                                NaN

       Ciudad Exportador  Dirección Exportador      Estado Exportador  ...  \
count                307                   558                    268  ...
unique                27                   120                     11  ...
top             Ensenada  AV. ACUEDUCTO 6075-A  Baja California Norte  ...
freq                  64                    32                     92  ...
mean                 NaN                   NaN                    NaN  ...
std                  NaN                   NaN                    NaN  ...
min                  NaN                   NaN                    NaN  ...
25%                  NaN                   NaN                    NaN  ...
50%                  NaN                   NaN                    NaN  ...
75%                  NaN                   NaN                    NaN  ...
max                  NaN                   NaN                    NaN  ...

       Unid 1         Qty 2 Unid 2     U$ FOB Tot U$ FOB Unit 1  \
count     578    578.000000    578     578.000000    578.000000
unique      1           NaN      3            NaN           NaN
top        KG           NaN     KG            NaN           NaN
freq      578           NaN    474            NaN           NaN
mean      NaN   2833.849567    NaN   27688.078478     46.649254
std       NaN   4468.610423    NaN   42580.211560     64.547533
min       NaN      2.000000    NaN       0.000000      0.000000
25%       NaN    365.250000    NaN    4004.732500      8.000000
50%       NaN   1001.500000    NaN   11390.870000     21.218500
75%       NaN   2693.750000    NaN   32831.232500     55.749250
max       NaN  29300.000000    NaN  368400.010000    402.877000

        U$ FOB Unit 2    País Destino        Vía  Descripción Comercial  \
count      578.000000             578        578                    578
unique            NaN               8          3                    271
top               NaN  ESTADOS UNIDOS  CARRETERO        PEPINOS DE MAR.
freq              NaN             323        346                     41
mean        33.516993             NaN        NaN                    NaN
std         49.714003             NaN        NaN                    NaN
min          0.000000             NaN        NaN                    NaN
25%          4.000000             NaN        NaN                    NaN
50%         10.709000             NaN        NaN                    NaN
75%         41.750000             NaN        NaN                    NaN
max        303.030000             NaN        NaN                    NaN

                                      Regimen
count                                     578
unique                                      3
top     IMPORTACION O EXPORTACION DEFINITIVA.
freq                                      377
mean                                      NaN
std                                       NaN
min                                       NaN
25%                                       NaN
50%                                       NaN
75%                                       NaN
max                                       NaN

[11 rows x 24 columns]

In [4]:
ndf = df.drop(['Partida Aduanera', 'Descripcion Partida Aduanera', 'DUA','Ciudad Importador', 'Dirección Importador', 'Dirección Exportador', 'Ciudad Exportador', 'Estado Exportador', 'Regimen'], axis=1)
print(ndf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Aduana                 578 non-null    object
 1   Fecha                  578 non-null    object
 2   Cod. Tributario        578 non-null    object
 3   Exportador             578 non-null    object
 4   Importador             409 non-null    object
 5   Qty 1                  578 non-null    float64
 6   Unid 1                 578 non-null    object
 7   Qty 2                  578 non-null    float64
 8   Unid 2                 578 non-null    object
 9   U$ FOB Tot             578 non-null    float64
 10  U$ FOB Unit 1          578 non-null    float64
 11  U$ FOB Unit 2          578 non-null    float64
 12  País Destino           578 non-null    object
 13  Vía                    578 non-null    object
 14  Descripción Comercial  578 non-null    object
dtypes: float64(5), object(10)
memory usage: 67.9+ KB
None

In [5]:
print(ndf.describe(include='object'))

               Aduana       Fecha  Cod. Tributario  \
count             578         578              578
unique             11         362               78
top     TIJUANA- B.C.  16/06/2020  PPS1208244S2
freq              302           8               48

                                               Exportador  \
count                                                 578
unique                                                 78
top     SOCIEDAD COOPERATIVA DE PRODUCCION PESQUERA SE...
freq                                                   48

                             Importador Unid 1 Unid 2    País Destino  \
count                               409    578    578             578
unique                              135      1      3               8
top     PULPITO NEGRO WHOLESALE SEAFOOD     KG     KG  ESTADOS UNIDOS
freq                                 23    578    474             323

              Vía Descripción Comercial
count         578                   578
unique          3                   271
top     CARRETERO       PEPINOS DE MAR.
freq          346                    41

In [6]:
print(ndf.describe())

              Qty 1         Qty 2     U$ FOB Tot  U$ FOB Unit 1  U$ FOB Unit 2
count    578.000000    578.000000     578.000000     578.000000     578.000000
mean    1218.181644   2833.849567   27688.078478      46.649254      33.516993
std     4191.598823   4468.610423   42580.211560      64.547533      49.714003
min        0.000000      2.000000       0.000000       0.000000       0.000000
25%      200.000000    365.250000    4004.732500       8.000000       4.000000
50%      526.030000   1001.500000   11390.870000      21.218500      10.709000
75%     1200.000000   2693.750000   32831.232500      55.749250      41.750000
max    95484.000000  29300.000000  368400.010000     402.877000     303.030000